.title {
    color: var(--beige);
    font-size: 0.8em;
    font-weight: bold;
}

p {
    font-family: arial;
    color: var(--primary-color);
    font-size: 0.8em;
    font-weight: 400;
}

button {
    color: var(--primary-color);
    border-color: var(--primary-color);
    padding: 0.5rem 2rem;
    font-size: 0.5em;
    display: inline-block;
    margin: 0.2rem;
}