<div class="container text-center">
    <mat-icon aria-hidden="false" aria-label="informações recebidas">description</mat-icon>

    <p class="title">INFORMAÇÕES RECEBIDAS!</p>
    <p>Em até 48h daremos um retorno sobre a abertura de sua conta.</p>
    <mat-divider></mat-divider>

    <p> Para receber nossas recomendações de investimentos e começar a investir, precisamos conhecer seu perfil de investidor.</p>

    <p>São apenas 4 perguntas, que irão guiar todas as suas decisões de investimentos.
    </p>
    <p class="mt-5">Gostaria de responder ao perfil do investidor?</p>

    <button type="button" class="btn" (click)="openDialog()">NÃO</button>
    <button type="button" class="btn" routerLink="/perfil-investidor" routerLinkActive="active">SIM</button>




</div>