.title {
    font-size: 1.2em;
    font-weight: 500;
    color: var(--secondary-color);
}

.terms {
    font-size: 1em;
    color: rgb(116, 111, 111);
    font-weight: bold;
    text-align: left;
}

.mat-checkbox {
    color: rgb(160, 158, 158);
    font-weight: 500;
    padding: 1.5em 0em 1em 0em;
}

.mat-button.mat-button-disabled.mat-button-disabled {
    background-color: var(--tertiary-color);
    color: white;
}

.mat-button {
    background-color: rgb(71, 211, 58);
    color: white;
    width: 17rem;
    height: 3rem;
}